<!DOCTYPE html>
{% load static %} <!-- Instruct Django to load static files -->
<STYLE>

</STYLE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- 這一段 code 將頁面連結到樣式表~~ 以連結方式引用static資料夾中的css檔案-->
        <link rel="stylesheet"  href="{% static '/css/freestyle.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-5.2.2-dist/css/bootstrap.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>

        <title>經濟預測相關 | 首頁</title>
    </head>

    <body class="LightYellow">


  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-0 mx-auto px-0">

        <h1 class="f0 display-4  fst-normal">互動式資料分析網頁</h1>
        <div class="px-5 container" >
          <p class="f03   mb-1 lead text-muted">
            結合資料科學與網頁開發, 使用者可藉由網頁操作, </p>
         <p class="f03  mb-0 lead text-muted">
            達到即時運算與分析, 並得到可互動式圖表結果。</p>
      </div>
    </div></div>
  </section>




    <div class="album py-5 blue-yellow ">

        <div class="container">

      <div class="col  ">
            <div class="card mb-3" style="max-width: 1000px; max-height:540px">
              <div class="row g-0">
                <div class="col-md-7" tyle="max-width: 500px; max-height:510px">
                        <img decoding="async" width="100%"   height="350"  margin="auto" src="{% static 'forecast_e1/images/進出口.png' %}" style="object-fit: scale-down;opacity: 0.4;" alt="" loading="lazy">

                </div>
                <div class="col-md-5">
                  <div class="card-body mt-3" style="font-size: 16px;background-color: #8FBC8F;vertical-align:middle;height:55%;">


                 <div class="card-title">
                     <h2 class="f02 ">進出口預測</h2>

                 </div>
                <Br>
                <p class="card-text">透過下拉式選單取得欲預測的期數、年月份，以及選項式選單選擇進口還是出口，以得到對應之可互動式預測圖形。(背後包含了網路爬蟲資料、邏輯運算...)</p>

                      <div class="fw-right d-flex justify-content-between align-items-center">
                          <p class="float-end mt-2"><strong>
                              <a href="{% url '預測進出口_f' %}"  class=" icon-link " style="color:#fff;">進入分析</a></strong>
                          </p>
                      </div>
                      </div>
                </div>
              </div>
            </div>

            <div class="card mb-3" style="max-width: 1000px; max-height:540px">
              <div class="row g-0">
                <div class="col-md-7" tyle="max-width: 500px; max-height:510px">

                        <img decoding="async" width="100%"   height="300"  margin="auto"  src="{% static 'forecast_e1/images/yoy折線圖1.png' %}" style="object-fit: scale-down;opacity: 0.4;" alt="" loading="lazy">

                </div>
                <div class="col-md-5">
                  <div class="card-body mt-3" style="font-size: 16px;background-color: #8FBC8F">
                 <div class="card-title">
                     <h2 class="f02    fw-bolder">重要變數年增長率</h2>

                 </div>
                 <Br>
                <p class="card-text">!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
                      <div class="fw-right d-flex justify-content-between align-items-center">
                          <p class="float-end mt-2"><strong>
                  <a href="{% url '重要變數折線圖' %}"  class=" icon-link " style="color:#fff;">進入分析</a></strong>

                          </p>
                      </div>
                </div>
            </div>
                </div>
              </div>
            </div>


            <div class="card mb-3" style="max-width: 1000px; max-height:540px">
              <div class="row g-0">
                <div class="col-md-7" tyle="max-width: 500px; max-height:510px">>
                        <img decoding="async" width="100%"   height="300"  margin="auto"  src="{% static 'forecast_e1/images/堆疊圖C.png' %}" style="object-fit: scale-down;opacity: 0.4;" alt="" loading="lazy">
                </div>
                <div class="col-md-5">
                  <div class="card-body mt-3" style="font-size: 16px;background-color: #8FBC8F">
                 <div class="card-title">
                         <h2 class="f02    fw-bolder">對GDP貢獻度</h2>

                     </div>
                     <Br>
                      <p class="card-text">~~~~~~~~~~~~~~~~~~<Br><Br></p>
                      <div class="fw-right d-flex justify-content-between align-items-center">
                          <p class="float-end mb-1"><strong>
                              <a href="{% url 'GDPyoy堆疊圖' %}"  class=" icon-link " style="color:#fff;">進入分析</a></strong>

                          </p>
                      </div>
                      </div>
                </div>
                </div>
              </div>
            </div>
</div>


    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">以上為範例供參考!</p>


      </div>
    </footer>

    </body>

</html>



